
.contenedorPrincipal{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.turnosAgendados{
    display: flex;
    /* background-color: blueviolet; */
    width: 950px;
    flex-wrap: wrap;
}
.card{
    margin: 5px;
}
.agendarTurno{
    width: 500px;
    height: 200px;
}
.tituloForm{
    width: 100%;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}